* {
  box-sizing: border-box;
}
body {
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* nav {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
} */
header {
  width: 100%;
}

input {
  margin: 5px;
  align-content: center;
}
label {
  text-align: left;
}
footer {
  background-color: lightslategray;
  height: 200px;
  width: 100%;
}
.wlogof {
  height: 200px;
  width: 200px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  align-items: center;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1e88e5;
  color: white;
}
.Mrlogo {
  background-image: url("Assets/logo_blanc.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right;
  display: block;
  width: 90px;
  height: 80px;
}
/* .dropdown-content {
  display: inline-block;
  position: relative;
} */
